{% extends 'base.html' %}

{% block content %}
<div class="container my-5">
    <div class="card shadow-lg">
        <div class="card-header bg-primary text-white">
            <h1 class="card-title text-center">{% block title %}Philosophy Battle Simulation{% endblock %}</h1>
        </div>
        <div class="card-body">
            <form method="POST">
                <h2 class="mb-4">Simulation Parameters</h2>
                <div class="mb-3">
                    <label for="duration" class="form-label">Duration of the Simulation:</label>
                    <select name="duration" id="duration" class="form-select">
                        <option value="short">Short (a couple years)</option>
                        <option value="med">Medium (many years)</option>
                        <option value="long">Long (many decades)</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="distance" class="form-label">Physical Distance between Players:</label>
                    <select name="distance" id="distance" class="form-select">
                        <option value="short">Short (same vicinity)</option>
                        <option value="med">Medium (a few miles)</option>
                        <option value="long">Long (many miles)</option>
                    </select>
                </div>

                <h2 class="mb-4">User Player Parameters</h2>
                <div class="mb-3">
                    <label for="philosophy1" class="form-label">Philosophy:</label>
                    <select name="philosophy1" id="philosophy1" class="form-select">
                        <option value="NA">No Philosophy</option>
                        <option value="shang">Lord Shang</option>
                        <option value="xunzi">Xunzi</option>
                        <option value="laozi">Laozi</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="status1" class="form-label">Status:</label>
                    <select name="status1" id="status1" class="form-select">
                        <option value="leader">Leader</option>
                        <option value="follower">Follower</option>
                    </select>
                </div>
                <div id="followers1" class="mb-3" style="display: block;">
                    <label for="followers1">Choose Number of Followers:</label>
                    <input type="number" name="followers1" id="followers1val" class="form-control" value=0 min="0" step="10" placeholder="Enter number of followers">
                </div>

                <h2 class="mb-4">Opposing Player Parameters</h2>
                <div class="mb-3">
                    <label for="philosophy2" class="form-label">Philosophy:</label>
                    <select name="philosophy2" id="philosophy2" class="form-select">
                        <option value="NA">No Philosophy</option>
                        <option value="shang">Lord Shang</option>
                        <option value="xunzi">Xunzi</option>
                        <option value="laozi">Laozi</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="status2" class="form-label">Status:</label>
                    <select name="status2" id="status2" class="form-select">
                        <option value="leader">Leader</option>
                        <option value="follower">Follower</option>
                    </select>
                </div>
                <div id="followers2" class="mb-3" style="display: block;">
                    <label for="followers2">Choose Number of Followers:</label>
                    <input type="number" name="followers2" id="followers2val" class="form-control" value=0 min="0" step="10" placeholder="Enter number of followers">
                </div>

                <button type="submit" class="btn btn-primary">Save Parameters</button>
            </form>
        </div>
    </div>
</div>

<script>
    // Player 1 (User player)
    document.getElementById('status1').addEventListener('change', function() {
        var userPlayerValue = this.value;
        var followerDropdown = document.getElementById('followers1');
        var followerval = document.getElementById('followers1val').value;
        isLeader = userPlayerValue === 'leader';
        followerDropdown.style.display = isLeader ? 'block' : 'none';
    });

    document.getElementById('followers1val').addEventListener('change', function() {
        var userPlayerValue = this.value;
        var followerSpread = document.getElementById('followerspread1');
        followerSpread.style.display = userPlayerValue && userPlayerValue > 0 ? 'block' : 'none';
    });

    // Player 2 (Opposing Player)
    document.getElementById('status2').addEventListener('change', function() {
        var userPlayerValue = this.value;
        var followerDropdown = document.getElementById('followers2');
        var followerval = document.getElementById('followers2val').value;
        isLeader = userPlayerValue === 'leader';
        followerDropdown.style.display = isLeader ? 'block' : 'none';
    });

    document.getElementById('followers2val').addEventListener('change', function() {
        var userPlayerValue = this.value;
        var followerSpread = document.getElementById('followerspread2');
        followerSpread.style.display = userPlayerValue && userPlayerValue > 0 ? 'block' : 'none';
    });
</script>

{% endblock %}

