{% extends 'base.html' %}

{% block title %}
    Simulation
{% endblock %}

{% block content %}
<div class="container text-center">
    <h1 class="mt-5">The Battle is Underway!</h1>
    <img src="{{ url_for('static', filename='images/battle.gif') }}" alt="Battle Animation" class="img-fluid">
    <p class="mt-3">This might take a moment...</p>
</div>

<script>
  setTimeout(function() {
    window.location.href = "{{ url_for('results') }}";
}, {{ duration }}); // Default to 3000ms if duration is missing
</script>

{% endblock %}
